package templates

templ BaseLayout(title string, path string, prefix string, children templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>Lukas Der Baum’s webside</title>
			<link rel="stylesheet" href="/style/style.css"/>
		</head>
		<body>
			@Navbar(prefix,path)
			<main>
				@children
			</main>
			@Footer()
		</body>
	</html>
}
