package templates

templ Navbar(prefix,page string) {
	<nav>
		<a href={prefix + "/"} class="navbar-brand">
			<img src="/public/logos/Phönix_logo_mono.svg"/>
			<h1>Lukas DerBaum </h1>
		</a>
		<div>
			<a href={prefix + "/projects/"}>Projects</a>
			<a href={prefix + "/about/"}>About me</a>
			<a href={prefix + "/goals/"}>Goals</a>
			<a href={prefix + "/links/"}>Likes</a>
		</div>
		@Language(page, prefix)
		
	</nav>
}
