package templates

templ Navbar() {
	<nav>
		<img src="/public/logos/Phönix_logo_mono.svg"/>
		<h1>Lukas DerBaum </h1>
		<div>
			<a href="/">Home</a>
			<a href="/projects">Projects</a>
			<a href="/about">About me</a>
			<a href="/goals">Goals</a>
			<a href="/links">Likes</a>
		</div>

		
	</nav>
}
